# 10장  Set (집합)

A set is an unordered collection of objects, unlike sequence objects such as lists and tuples, in which each element
is indexed. 

Sets cannot have duplicate members - a given object appears in a set 0 or 1
times.

## 1. Set 만들기

In [ ]:
x=set([0, 1, 2, 3])
x

In [ ]:
x=set()
x

In [ ]:
x={}
x

In [ ]:
type(x)

In [ ]:
x=set("obtuse")
x

In [ ]:
x=set("hannam")
x

In [ ]:
L = ['spam', 'spam', 'eggs', 'spam']
set(L)

In [ ]:
L = ['spam', 'spam', 'eggs', 'spam']
list(set(L))

We can add elements to sets one by one, using the ”add” function.

In [ ]:
s = set([12, 26, 54])
s.add(32)
s

Note that since a set does not contain duplicate elements, if we add one of the members of
s to s again, the add function will have no effect.

This same behavior occurs in the ”update”
function, which adds a group of elements to a set.

In [ ]:
s.update([26, 12, 9, 14])
s

Note that you can give any type of sequential structure, or even another set, to the update
function, regardless of what structure was used to initialize the set.

The set function also provides a copy constructor. However, remember that the copy constructor will copy the set, but not the individual elements.

In [ ]:
s2 = s.copy()
s2

## 2. Membership Test

We can check if an object is in the set using the same ”in” operator as with sequential data
types.

In [ ]:
32 in s

In [ ]:
6 in s

In [ ]:
6 not in s

We can also test the membership of entire sets. Given two sets S1 and S2, we check if S1 is
a subset2 or a superset of S2.

In [ ]:
s.issubset(set([32, 8, 9, 12, 14, -4, 54, 26, 19]))

In [ ]:
s.issuperset(set([9, 12]))

Note that ”issubset” and ”issuperset” can also accept sequential data types as arguments

In [ ]:
s.issuperset([32, 9])

Note that the <= and >= operators also express the issubset and issuperset functions
respectively.

In [ ]:
set([4, 5, 7]) <= set([4, 5, 7, 9])

In [ ]:
set([9, 12, 15]) >= set([9, 12])

Like lists, tuples, and string, we can use the ”len” function to find the number of items in a
set.

## 3. Removing Items

There are three functions which remove individual items from a set, called pop, remove,
and discard.

The first, pop, simply removes an item from the set.

Note that there is no defined behavior as to which element it chooses to remove.

In [ ]:
s = set([1,2,3,4,5,6])
s.pop()

In [ ]:
s

We also have the ”remove” function to remove a specified element.

In [ ]:
s.remove(3)
s

However, removing a item which isn’t in the set causes an error.

In [ ]:
s.remove(9)

If you wish to avoid this error, use ”discard.” It has the same functionality as remove, but
will simply do nothing if the element isn’t in the set

In [ ]:
s.discard(9)
s

In [ ]:
s.discard(5)
s

We also have another operation for removing elements from a set, clear, which simply
removes all elements from the set.

In [ ]:
s.clear()
s

## 4.  Iteration Over Sets

We can also have a loop move over each of the items in a set. However, since sets are
unordered, it is undefined which order the iteration will follow.

In [ ]:
s = set("blerg")
for n in s:
    print(n)

## 5. Set Operations

Python allows us to perform all the standard mathematical set operations, using members
of set.

Note that each of these set operations has several forms.

One of these forms,
s1.function(s2) will return another set which is created by ”function” applied to S1 and S2.

The other form, s1.function_update(s2), will change S1 to be the set created by ”function”
of S1 and S2.

Finally, some functions have equivalent special operators.

 For example, s1 &
s2 is equivalent to s1.intersection(s2)

**Intersection**  
Any element which is in both S1 and S2 will appear in their intersection.

In [ ]:
s1 = set([4, 6, 9])
s2 = set([1, 6, 8])
s3=s1.intersection(s2)
s3

In [ ]:
s4=s1 & s2
s4

In [ ]:
s1.intersection_update(s2)
s1

**Union**  
The union
is the merger of two sets. Any element in S1 or S2 will appear in their union.

In [ ]:
s1 = set([4, 6, 9])
s2 = set([1, 6, 8])
s3=s1.union(s2)
print(s3)
print(s1)

In [ ]:
s4 =s1 | s2
s4

Note that union’s update function is simply ”update” above.

In [ ]:
s1.update(s2)
s1

In [ ]:
s1.union_update(s2)

**Symmetric Difference**  
The symmetric difference of two sets is the set of elements which are in one of either set,
but not in both.

In [ ]:
s1 = set([4, 6, 9])
s2 = set([1, 6, 8])
s3=s1.symmetric_difference(s2)
s3

In [ ]:
s4= s1 ^ s2
s4

In [ ]:
s1.symmetric_difference_update(s2)
s1

**Set Difference**   
Python can also find the set difference of S1 and S2, which is the elements that are in S1
but not in S2.

In [ ]:
s1 = set([4, 6, 9])
s2 = set([1, 6, 8])
s3=s1.difference(s2)
s3

In [ ]:
s4=s1 - s2
s4

In [ ]:
s1.difference_update(s2)
s1

## 6. Multiple sets
union, intersection, and difference can work with multiple
input by using the set constructor.

In [ ]:
s1 = set([3, 6, 7, 9])
s2 = set([6, 7, 9, 10])
s3 = set([7, 9, 10, 11])
s4=set.intersection(s1, s2, s3)
s4

## 7. frozenset

A frozenset is basically the same as a set, except that it is immutable - once it is created, its
members cannot be changed.

Since they are immutable, they are also hashable, which means
that frozensets can be used as members in other sets and as dictionary keys.

frozensets have
the same functions as normal sets, except none of the functions that change the contents
(update, remove, pop, etc.) are available.

In [ ]:
fs = frozenset([2, 3, 4])
s1 = set([fs, 4, 5, 6])
s1

In [ ]:
s2=fs.intersection(s1)
s2

In [ ]:
fs.add(6)